page-home {
    ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
        background: transparent none !important;

        
      }
}

#map {
  width: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
}
}
